name: rmarkdown website
on:
  push:
    branches:
      - website

jobs:
  website:
    name: Build website with rmarkdown
    if: "!contains(github.event.head_commit.message, 'skip')"
    runs-on: "ubuntu-latest"
    steps:
      - name: apt install
        run: xargs -a binder/apt.txt sudo apt-get install
      - uses: actions/checkout@v2
        with:
          ref: website
      - name: Install Julia
        run: julia -e 'using Pkg; Pkg.add("DifferentialEquations")'
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          environment-file: binder/environment.yml
          activate-environment: test
      - shell: bash -l {0}
        run: |
          conda run -n test Rscript binder/install.R
          conda run -n test Rscript -e 'rmarkdown::render_site(input="finistR2020_website")'
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.BINDER_PRIV }}
          publish_dir: ./docs
